<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!--public pages-->
    <http pattern="/favicon.ico*" security="none"/>
    <http pattern="/robots.txt" security="none"/>

    <!--rresources-->
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/fonts/**" security="none"/>

    <!--public pages-->
    <http pattern="/login*" security="none"/>

    <http auto-config="false"
          entry-point-ref="authenticationEntryPoint">
        <anonymous enabled="false"/>
        <intercept-url pattern="/**" access="ROLE_USER"/>


        <custom-filter before="SECURITY_CONTEXT_FILTER" ref="securityContextPersistenceFilter"/>
        <custom-filter position="FORM_LOGIN_FILTER" ref="authenticationProcessingFilter"/>
        <logout logout-success-url="/login?logout"/>
    </http>

    <beans:bean id="authenticationEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:property name="loginFormUrl" value="/login"/>
        <beans:property name="forceHttps" value="false"/>
    </beans:bean>

    <beans:bean id="failureHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <beans:property name="defaultFailureUrl" value="/login.htm?login_error=t"/>
    </beans:bean>
    <beans:bean id="successHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
        <beans:property name="defaultTargetUrl" value="/dashboard"/>
    </beans:bean>

    <beans:bean id="securityContextPersistenceFilter"
                class="com.video.spring.filters.ProjectSecurityContextPersistenceFilter">
    </beans:bean>

    <beans:bean id="org.springframework.security.authenticationManager"
                class="org.springframework.security.authentication.ProviderManager">
        <beans:property name="providers">
            <beans:list>
                <beans:ref bean="projectAuthenticationProvider"/>
            </beans:list>
        </beans:property>
    </beans:bean>

    <beans:bean id="authenticationProcessingFilter"
                class="com.video.spring.filters.ProjectAuthenticationProcessingFilter">
        <beans:property name="authenticationManager" ref="org.springframework.security.authenticationManager"/>
        <beans:property name="authenticationFailureHandler" ref="failureHandler"/>
        <beans:property name="allowSessionCreation" value="false"/>
        <beans:property name="sessionAuthenticationStrategy" ref="sas"/>
        <beans:property name="authenticationSuccessHandler" ref="successHandler"/>
    </beans:bean>

    <beans:bean id="projectAuthenticationProvider"
                class="com.video.spring.ProjectAuthenticationProvider">
    </beans:bean>

    <beans:bean id="sas"
                class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy">
    </beans:bean>

</beans:beans>